body {
    margin: 0;
    padding: 0;
}
#board {
    background-color: blue;
    height: 100vh;
    position: relative;
    
}

#player {
    background-color: navy;
    position: absolute;
}

.obstacle {
    position: absolute;
    background-color: yellow;
}